package-lock.json
node_modules
.DS_Store
backend/.DS_Store
backend/graph/.idea
backend/graph/cmake-build-debug
backend/graph/pgxx_ex.cpp
backend/graph/test.maxGroup.edges.csv
backend/graph/test.maxGroup.maxGroup.edges.csv
backend/graph/test.maxGroup.maxGroup.nodes.csv
backend/graph/test.maxGroup.nodes.csv
backend/graph/Untitled.ipynb
backend/graph/maps/Helsinki.maxGroup.edges.csv
backend/graph/maps/Helsinki.maxGroup.nodes.csv
backend/graph/maps/Helsinki.edges.csv
backend/graph/maps/Helsinki.nodes.csv
backend/graph/*.sh
backend/graph/main
backend/graph/libelena.so
backend/graph/boost_1_81_0/
backend/graph/crow
backend/graph/dummy
backend/graph/maps
*.pyc
backend/graph/.ipynb_checkpoints
backend/preprocess/.idea
backend/preprocess/cmake-build-debug
backend/preprocess/cmake_install.cmake
backend/preprocess/CMakeFiles
backend/preprocess/samples
backend/preprocess/CPackConfig.cmake
backend/preprocess/CPackSourceConfig.cmake
backend/preprocess/CMakeCache.txt
backend/preprocess/dummy
backend/preprocess/fetchElevation.old.cpp
backend/graph/csv_files/mass-edges.csv
*.csv
backend/.idea
backend/.ipynb_checkpoints
backend/graph/dependencies
backend/graph/*.cmake
backend/graph/CMakeLists_*
backend/graph/ex.ipynb
backend/python_files
backend/preprocess/*.sql
backend/ex*
backend/compile*
backend/memo.txt
backend/run.sh
backend/server.js
frontend/images
samples/*5.0.png
samples/*(2).png
samples/*3.0.png
